{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  {% include "includes/head.html" %}
  <body>
    {% include "includes/nav.html" %}
    <header>
      <div class="overlay"></div>
      <img
        alt="hahnchen at Wikimedia Commons (must include link if medium allows) [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons"
        src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Zodiac_Court%2C_Croydon.jpg"
      />
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">Peep Show API</h1>
            <p class="lead mb-0">moreish data for your next web project</p>
          </div>
        </div>
      </div>
    </header>

    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">What is this?</h1>
        <p class="lead">
          This is a small educational project intended to demonstrate the
          process of developing an API.
        </p>
        <p class="lead">
          It's written in Python, and utilizes both
          <a href="https://www.djangoproject.com/">Django</a> and the
          <a href="https://www.django-rest-framework.org/"
            >Django Rest Framework</a
          >.
        </p>
        <p class="lead">
          It allows you to fetch Peep Show data to use in your development
          projects, like so:
        </p>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="https://vignette.wikia.nocookie.net/peepshow/images/9/98/Jez_bio.jpg/revision/latest?cb=20190124221715"
              height="460px"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Jeremy Usbourne</h5>
              <p class="card-text">
                I guess it was just one of those freaky urban things, like those
                people that go on fire for no reason.
              </p>
              <p class="card-text"></p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://vignette.wikia.nocookie.net/peepshow/images/4/4a/Super_hans.jpg/revision/latest?cb=20190125000437"
              height="460px"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Super Hans</h5>
              <p class="card-text">
                Jez, can you tell me as a mate, yeah? Someone who knows me
                really well. Is the bottom half of me on fire?
              </p>
              <p class="card-text"></p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="https://vignette.wikia.nocookie.net/peepshow/images/5/58/Mark_bio.jpg/revision/latest?cb=20190124215835"
              height="460px"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Mark Corrigan</h5>
              <p class="card-text">
                Yeah, that would have been more hilarious had I not been
                literally weeping with fear.
              </p>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <br />
    </section>

    <section>
      <br />
      <div class="container">
        <h1 class="font-weight-light">Is it legal?</h1>
        <p class="lead">
          To the absolute best of my knowledge.
        </p>
        <p class="lead">
          I do not claim any ownership over this content, nor is this
          application monetized in any way.
        </p>
        <p class="lead">
          The images are linked from (and hosted on) the
          <a href="https://peepshow.fandom.com/wiki/Super_Hans">Fandom Wikia</a>
          and are herein attributed as such.
        </p>
        <P class="lead"
          >The header photo is credited to
          <a
            href="https://commons.wikimedia.org/wiki/File:Zodiac_Court,_Croydon.jpg"
            >hahnchen</a
          >
          and is under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/"
            >CC BY-SA 3.0</a
          >
          license.
        </P>
      </div>
      <br />

      <div class="container">
        <h1 class="font-weight-light">How do I use it?</h1>
        <p class="lead">
          Let's say you wanted to retrieve all Peep Show characters and their
          data.
        </p>
        <p class="lead">
          Sending a GET request to &nbsp; &nbsp;
          <code>https://peep-show-api.herokuapp.com/api/characters/</code>
        </p>
        <p class="lead">will return a JSON response that looks like this.</p>
        <script src="https://gist.github.com/JoeTrubenstein/549dcac40c0257a85fa0d7358577e568.js"></script>
      </div>
    </section>

    <section class="py-5">
      <div class="container">
        <h1 class="font-weight-light">Can I contribute?</h1>
        <p class="lead">
          Yes! Check out the project on
          <a href="https://github.com/JoeTrubenstein/peep-show-api">GitHub</a>.
        </p>
      </div>
    </section>

    {% include "includes/footer.html" %}
  </body>
  {% include "includes/scripts.html" %}
</html>
