{% load staticfiles %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"
  />
  <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function() {
      window.wpcc.init({
        border: "thin",
        corners: "small",
        colors: {
          popup: { background: "#f6f6f6", text: "#000000", border: "#555555" },
          button: { background: "#555555", text: "#ffffff" }
        },
        position: "bottom"
      });
    });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-119540107-8"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-119540107-8");
  </script>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta
    property="og:image"
    content="https://upload.wikimedia.org/wikipedia/commons/f/f2/Zodiac_Court%2C_Croydon.jpg"
  />
  <title>API</title>
</head>
